#originalBoard {
    float: right;
    margin-left: 2%;
    border: 5px double white;
    border-radius: 3px;
}

#filterBoard {
    float: left; 
    margin-right: 2%;
    border: 5px solid white;
    border-radius: 3px 2px;
}

#blackWhiteBoard {
    float: right;
    margin-left: 2%;
    border: 5px dashed white;
    border-radius: 3px 2px 5px 4px;
}
