.image-small {
    float: right;
    margin-left: 1%;
    border: 5px double white;
    border-radius: 10%;
}

.image-filtered {
    float: left; 
    margin-right: 1%;
    border: 5px solid white;
    border-radius: 20% 30%;
}

.image-blackAndWhite {
    float: right;
    margin-left: 1%;
    border: 5px dashed white;
    border-radius: 30% 20% 20% 30%;
}

.image-large {
    width: 100%;      /* Responsive */
    max-width: 800px;
    height: auto;
}
