.image-small {
    float: right;
    margin-left: 1%;
    border: 5px double white;
    border-radius: 10%;
    display: block;
}

.image-filtered {
    float: left; 
    margin-right: 1%;
    border: 5px solid white;
    border-radius: 20% 30%;
    display: block;
}

.image-blackAndWhite {
    float: right;
    margin-left: 1%;
    border: 5px dashed white;
    border-radius: 30% 20% 20% 30%;
    display: block;
}

.image-large {
    width: 100%;      /* Responsive */
    max-width: 800px;
    height: auto;
    display: block;
}

footer {
    background-image: url("./Images/Critocracy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
}
