/*centers all h1 headers both in the page and in the element and adds a border*/
h1 {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid black;
  text-align: center;
}

/*indents only paragraphs classed eat-drink and visit*/
p.eat-drink, p.visit {
    text-indent: 10%;
}

/*changes text color of any visit element*/
.visit {
  color: #71368a
}

/*in restaurant list transorms only third item to uppercase and text to blue*/
#restaurants li:nth-child(3) {
    text-transform: uppercase;
    color: blue;
}

/*makes link text color green, after link is clicked makes link text color blue, when mouse hovers over link background color changes to black, when user is in action of clicking on link, link text changes from green to red until click is released*/
.restaurant-link {
    &:link {
      color: #269e34;
    }
    &:visited {
      color: #3f59bf;
    }
    &:hover {
      background-color: #000000;
    }
    &:active {
      color: #fa0202;
    }
}
